<table>
    <thead>
        <tr> <th colspan="2">Contact Person<</th></tr>
        <tr>
            <th>Name</th>
            <th>Sex</th>
            <th>DOB</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Identity Number</th>
            <th>Requests</th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td>hhh hhwhw</td>
            <td>Male</td>
            <td>10 December 2009</td>
            <td>tata@gmail.com</td>
            <td>rrhet</td>
            <td>0882761554166</td>
            <td>03883615616631 (KTP)</td>
            <td> ttt </td>
        </tr>
    </tbody>
    
</table>


<table>
    <thead>
        <tr>
            <th colspan="15">Booking ID: DO2021-0004 | Date of Issue: 27-Sep-21 17:49 (GMT+7)</th>
        </tr>
        <tr><th colspan="15">Passengers</th></tr>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Sex</th>
            <th>DOB</th>
            <th>Identity Number</th>
            <th>Passport Number</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Occupation</th>
            <th>Social Media</th>
            <th>Clothing Size</th>
            <th>Food Allergy</th>
            <th>Medical History</th>
            <th>Life Insurance</th>
        </tr>
    </thead>

    <tbody>
        <tr>
        <th scope="row"> 1</th>
        <td>ee ee</td>
        <td> M </td>
        <td>21-09-2021</td>
        <td>838183676731</td>
        <td>0137166165671767</td>
        <td>naeh@gmail.com</td>
        <td>qeq</td>
        <td>082862717631</td>
        <td>T</td>
        <td> qeq </td>
        <td>XS</td>
        <td> on </td>
        <td> None </td>
        <td> on </td>
    </tr>
        <tr>
        <th scope="row"> 2</th>
        <td>a a</td>
        <td> F </td>
        <td>17-09-2021</td>
        <td>838183676731</td>
        <td>0137166165671767</td>
        <td>naeh@gmail.com</td>
        <td>eq</td>
        <td>082862717631</td>
        <td>i</td>
        <td> e </td>
        <td>XS</td>
        <td> on </td>
        <td> None </td>
        <td> on </td>
    </tr>
        <tr>
        <th scope="row"> 3</th>
        <td>sz ss</td>
        <td> F </td>
        <td>11-09-2021</td>
        <td>838183676731</td>
        <td>0137166165671767</td>
        <td>naeh@gmail.com</td>
        <td>ssa</td>
        <td>082862717631</td>
        <td>d</td>
        <td> wge </td>
        <td>XS</td>
        <td> on </td>
        <td> None </td>
        <td> on </td>
    </tr>
        <tr>
        <th scope="row"> 4</th>
        <td>d d</td>
        <td> M </td>
        <td>13-09-2021</td>
        <td>838183676731</td>
        <td>0137166165671767</td>
        <td>d</td>
        <td>dd</td>
        <td>082862717631</td>
        <td>a</td>
        <td> dd </td>
        <td>XS</td>
        <td> on </td>
        <td> None </td>
        <td> on </td>
    </tr>
        </tbody>
</table>