@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

#packageBooking {
    background-color: #ffffff;
    margin: 0px auto;
    font-family: 'Raleway', sans-serif;
    padding: 40px;
    border-radius: 10px
}

#reservation {
    color: #272727;
    text-align: center;
}

#packageBooking p{
    margin-top: 5px;
}

#packageBooking input[type=text], 
#packageBooking input[type=tel], 
#packageBooking input[type=date], 
#packageBooking input[type=email], 
#packageBooking input[type=number],
#packageBooking select, 
#packageBooking textarea {
    padding: 10px;
    width: 100%;
    font-size: 15px;
    font-family: Raleway;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #a7a7a7;
    -webkit-appearance: none
}

#packageBooking select{
    background-image: url(https://image.flaticon.com/icons/svg/36/36657.svg);
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: 95% 50%;
}

#packageBooking .tab input:focus, #packageBooking .tab select:focus, #packageBooking .tab textarea:focus {
    border-color: #ba9a37;
    outline: none
}

#packageBooking input.invalid{
    border-color: #e03a0666;
}

#packageBooking .invalid{
    border-color: #e03a0666;
}

#packageBooking ::placeholder{
    color: #9d9c98;
}

#packageBooking .tab {
    display: none;
}

.hidden{
    display: none;
}

#packageBooking button {
    margin-top: 25px;
    background-color: #ba9a37;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 15px;
    font-family: Raleway;
    cursor: pointer
}

#packageBooking button:hover {
    opacity: 0.8
}

#packageBooking button:focus {
    outline: none !important
}

#packageBooking #prevBtn {
    background-color: #bbbbbb
}

#packageBooking .all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: center
}

#packageBooking .step {
    height: 40px;
    width: 40px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #ba9a37;
    opacity: 0.5
}

#packageBooking .step.active {
    opacity: 1
}

#packageBooking .step.finish {
    color: #fff;
    background: #ba9a37;
    opacity: 1
}

#packageBooking .all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}

#packageBooking .thanks-message {
    display: none
}